<div class="line">
    <mat-button-toggle class="more-option" >Report</mat-button-toggle>
    </div>
    <mat-divider insert></mat-divider>
  <div>
  <mat-button-toggle class="more-option" >Unfollow</mat-button-toggle>
  </div>
  <mat-divider insert></mat-divider>
  <div>
  <mat-button-toggle class="more-option">Go to Post</mat-button-toggle>
  </div>
  <mat-divider insert></mat-divider>
  <div>
  <mat-button-toggle class="more-option">Share to</mat-button-toggle>
  </div>
  <mat-divider insert></mat-divider>
  <div>
  <mat-button-toggle class="more-option">Copy Link</mat-button-toggle>
  </div>
  <mat-divider insert></mat-divider>
  <div>
  <mat-button-toggle class="more-option">Embed</mat-button-toggle>
  </div>
  <mat-divider insert></mat-divider>
  <div>
  <mat-button-toggle class="more-option">Cancel</mat-button-toggle>
  </div>